
.footerContainer {
	width: 100%;
	background-color: #585d72;
	color: white;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.OLhelp,
.OLAbout,
.OLCompany,
.OLContact {
	list-style: none;
	font-size: 1em;
	font-family: sans-serif;
}

.OLhelpTitle,
.OLAboutTitle,
.OLCompanyTitle,
.OLContactTitle {
	font-size: 1.3em;
	border-bottom: 0.1em solid #ffffff;
	font-family: sans-serif;
}

.helpLI {
	color: white;
	margin-top: 0.3em;
}

.aboutLI {
	color: white;
	margin-top: 0.3em;
}

.ContactLI {
	color: white;
	margin-top: 0.3em;
}

.ContactLIminor {
	color: #D3D3D3;
	font-size: 0.8em;
}

.OLhelp {
	grid-column: 1/3;
	list-style: none;
}

.OLAbout {
	grid-column: 3/5;
}

.OLContact {
	grid-column: 5/7;
}

.OLCompany {
	grid-column: 5/7;
	justify-self: center;
	align-self: center;
}

.OLConnect {
	grid-column: 7/8;
	margin-left: 10%;
	list-style: none;
	text-align: center;
	font-size: 34px;
	font-family: 'Mansalva', cursive;
}

.helpLI span,
.aboutLI span,
.ContactLI span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.helpLI span:after,
.aboutLI span:after,
.ContactLI span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.helpLI:hover span,
.aboutLI:hover span,
.ContactLI:hover span {
	padding-right: 20px;
}

.helpLI:hover span:after,
.aboutLI:hover span:after,
.ContactLI:hover span:after {
	opacity: 1;
	right: 0;
}

.mapIcon,
.copyRightIcon {
	width: 6%;
}

.OLCompany {
	grid-column: 9/13;
	justify-self: center;
	align-self: center;
}